<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo error dolore nisi animi nesciunt!</p>
    </div>
</div>
