<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo error dolore nisi animi nesciunt!</p>
    </div>
</div>

<div class="jumbotron mt-4">
    <h1 class="display-4">
        RECEPCION Y CONSULTA DE RECLAMOS
    </h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non doloribus voluptatum quae illum magnam ducimus ut temporibus officiis. Aliquid saepe debitis, omnis placeat ullam impedit nam provident nulla repudiandae itaque.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis libero ratione optio natus, delectus minus pariatur ad est laudantium quidem inventore?</p>
    <a href="#" class="btn btn-primary btn-lg">Rodka</a>
</div>
