<style>
    .carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    @import url(https://fonts.googleapis.com/css?family=Calibri:400,300,700);

    .pap {
        padding-bottom: 30px;
    }

    /* Timeline holder */
    ul.timeline {
        list-style-type: none;
        position: relative;
        padding-left: 1.5rem;
    }

    /* Timeline vertical line */
    ul.timeline:before {
        content: ' ';
        background: #fff;
        display: inline-block;
        position: absolute;
        left: 16px;
        width: 4px;
        height: 100%;
        z-index: 400;
        border-radius: 1rem;
    }

    li.timeline-item {
        margin: 20px 0;
    }

    /* Timeline item arrow */
    .timeline-arrow {
        border-top: 0.5rem solid transparent;
        border-right: 0.5rem solid #fff;
        border-bottom: 0.5rem solid transparent;
        display: block;
        position: absolute;
        left: 2rem;
    }

    /* Timeline item circle marker */
    li.timeline-item::before {
        content: ' ';
        background: #ddd;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        border: 3px solid #fff;
        left: 11px;
        width: 14px;
        height: 14px;
        z-index: 400;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }


    /*body {
        background: #E8CBC0;
        background: -webkit-linear-gradient(to right, #E8CBC0, #636FA4);
        background: linear-gradient(to right, #E8CBC0, #636FA4);
        min-height: 100vh;
    }*/

    .text-gray {
        color: #999;
    }
</style>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('https://www.esan.edu.pe/sala-de-prensa/2020/02/20/1200x630_reclamos_consumidores.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://wpgeodirectory.com/wp-content/uploads/edd/2018/04/14.-Claim-Listings.png')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('https://www.ficaconsulting.com.do/cw/images/fica/art/20180522.jpg')">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
</header>

<div class="container py-5" >

    <div class="row text-center text-white mb-5">
        <div class="col-lg-8 mx-auto">
            <h1 class="display-4">How to make your query or claim?</h1>
            {{!-- <p class="lead mb-0">Build a responsive vertical timeline using Bootstrap 4. </p>
            <p class="lead">Snippet by<a href="https://bootstrapious.com/snippets" class="text-white">
                    <u>Bootstrapious</u></a></p> --}}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7 mx-auto">

            <!-- Timeline -->
            <ul class="timeline">
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">1. SignIn or SignUp</h2>{{!-- <span class="small text-gray"><i
                            class="fa fa-clock-o mr-1"></i>21 March, 2019</span> --}}
                    <p class="text-small mt-2 font-weight-light">Register or login to be able to enter a claim or review a claim already entered.</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">2. Register claim</h2>{{!-- <span class="small text-gray"><i
                            class="fa fa-clock-o mr-1"></i>5 April, 2019</span> --}}
                    <p class="text-small mt-2 font-weight-light">Register claim with a title, description and priority so that your claim is valid.</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">3. Review claim</h2>{{!-- <span class="small text-gray"><i
                            class="fa fa-clock-o mr-1"></i>18 August, 2019</span> --}}
                    <p class="text-small mt-2 font-weight-light">Check the status of your claim to know the follow-up of your case.</p>
                </li>
                <li class="timeline-item bg-white rounded ml-3 p-4 shadow">
                    <div class="timeline-arrow"></div>
                    <h2 class="h5 mb-0">4. Check the solution</h2>{{!-- <span class="small text-gray"><i
                            class="fa fa-clock-o mr-1"></i>10 October, 2019</span> --}}
                    <p class="text-small mt-2 font-weight-light">Review the status of the claim until you have the corresponding solution.</p>
                </li>
            </ul><!-- End -->

        </div>
    </div>

    <center><a href="#" title="Contador De Visitas Gratis">
<img style="border: 0px solid; display: inline;" alt="contador de visitas" src="http://www.websmultimedia.com/contador-de-visitas.php?id=284853"></a></center>
</div>

{{!-- <div class="jumbotron mt-4">

    <div class="col-md-12">
        <h1 class="display-4">Track my requests</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non doloribus voluptatum quae illum
            magnam ducimus ut temporibus officiis. Aliquid saepe debitis, omnis placeat ullam impedit nam provident
            nulla repudiandae itaque.</p>
        <hr class="my-4">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis libero ratione optio natus, delectus
            minus pariatur ad est laudantium quidem inventore?</p>
        <a href="#" class="btn btn-primary btn-lg">Rodka</a>
    </div>

</div> --}}