body{
    background-image: url('../img/business-2.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin:0;
    height: 100%;
}

html{
    height: 100%;
    margin:0;
}

.logo{
    width: 50%;
}

.content{
    min-height: 100%;
}

.content-inside{
    /*padding: 20px;*/
    padding-bottom: 50px;
}


footer {
    background-color: rgba(39, 43, 48, 0.8);
    height: 50px;
    margin-top: -50px;   
}

footer p{
    padding-top: 10px;
}


